<!DOCTYPE html>
<html>
<head>
    <title>Inicio - Ventas</title>
</head>
<body>
    <h1>Bienvenido a la aplicación de Ventas</h1>
    <p><a href="{% url 'registrar_proveedor' %}">Registrar Proveedor</a></p>
    <p><a href="{% url 'visualizar_proveedores' %}">Visualizar Proveedores</a></p>
    <p><a href="{% url 'registrar_cliente' %}">Registrar Cliente</a></p>
    <p><a href="{% url 'visualizar_clientes' %}">Visualizar Clientes</a></p>
    <p><a href="{% url 'registrar_venta' %}">Registrar Venta</a></p>
    <p><a href="{% url 'registrar_producto_vendido' %}">Registrar Producto Vendido</a></p>
    <p><a href="{% url 'registrar_producto' %}">Registrar Producto</a></p> <!-- Agregar enlace a la página de registro de producto -->
    <p><a href="{% url 'visualizar_productos' %}">Visualizar Productos</a></p>
</body>
</html>

