<!DOCTYPE html>
<html>
<head>
    <title>Visualizar Proveedores</title>
</head>
<body>
    <h1>Visualizar Proveedores</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Página Web</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.codigo }}</td>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.direccion }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.pagina_web }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'index' %}">Volver al Inicio</a></p>
</body>
</html>